.LoginFormContainer{
    width: 40%;
    margin: 1rem;
    padding: 1rem;
}

.LoginFormContainer label{
    color: white;
}

.loginLabelContainer {
    color: white;
    border-bottom: 2px solid rgba(130, 36, 227 , 0.5);
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.LoginFormContainer form {
    margin-top: 1rem;
}

.inputContainer{
    margin-top: 0.5rem;
}

.inputContainer button{
    margin-top: 0.5rem;
}

.errorParagraphTag{
    color: rgb(232, 115, 115);
    
}